<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<div class="container">
    <div class="content-container">
        <h1 class="mb-4">Your Drafts</h1>
        <% drafts.forEach((draft) => {%>
            <div class="review-wrapper wrapper-style mb-4">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-4 d-flex justify-content-center">
                        <img class="profile-picture mb-2" src="<%=user.profileImg%>" alt="profile" />
                    </div>
                    <div class="col-lg-10 col-md-9 col-8">
                        <h1><%=draft.gameData.gameTitle%></h1>
                        <h5>By <a class="user-link" href="/users/<%=user.displayName%>"><%=user.displayName%></a></h5>
                        <div class="stars">
                            <%for(let i = 0; i < draft.ratings.overall; i++){%>
                                <i class="far fa-star star-highlight"></i>
                            <%}%>
                            <%for(let i = 0; i < 5 - draft.ratings.overall; i++){%>
                                <i class="far fa-star star-lowlight"></i>
                            <%}%>
                        </div>
                    </div>
                </div>
                <hr class="light" />
                <div class="row">
                    <div class="col-12">
                        <h2><%=draft.title%></h2>

                        <%if(draft.content.length > 300){%>
                            <p class="review-content"><%=draft.content.slice(0, 300)%> ...</p>
                            <%}else{%>
                                <p class="review-content"><%=draft.content%></p>
                            <%}%>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 d-flex justify-content-end">
                        <a class="btn btn-outline-light" href="/drafts/<%=draft._id%>/edit">Edit Draft</a>
                    </div>
                </div>
            </div>
        <%});%>
    </div>
</div>
<%- include("partials/footer") -%>