<%- include("partials/header") -%>
<%- include("partials/navbar-login") -%>
<div class="container">
    <div class="content-container">
        <div class="login-wrapper wrapper-style">
            <h3><%=heading%></h3>
            <p><%=message%></p>
        </div>
    </div>
</div>

<%- include("partials/footer") -%>