<%- include("partials/header") -%>
<%- user !== null ? include("partials/navbar") : include("partials/navbar-login") -%>

<div class="container">
    <div class="content-container">
        <div class="content-wrapper wrapper-style mb-4">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-6 d-flex flex-column align-items-center">
                    <div>
                        <img class="game-art" class="mb-2" src="<%=gameData.image%>" alt="profile" />
                    </div>

                    <p>Reviews: </i><%= gameData.numReviews%></p>
                    <p class="mb-1 average">Gameplay: <i class="far fa-star star-highlight"></i> <%= gameData.ratingAverages.gameplay.toFixed(1)%></p>
                    <p class="mb-1 average">Visuals: <i class="far fa-star star-highlight"></i> <%= gameData.ratingAverages.visuals.toFixed(1)%></p>
                    <p class="mb-1 average">Audio: <i class="far fa-star star-highlight"></i> <%= gameData.ratingAverages.audio.toFixed(1)%></p>
                    <p class="mb-1 average">Story: <i class="far fa-star star-highlight"></i> <%= gameData.ratingAverages.story.toFixed(1)%></p>
                    <p class="mb-1 average">Overall: <i class="far fa-star star-highlight"></i> <%= gameData.ratingAverages.overall.toFixed(1)%></p>
                </div>
                <div class="col-lg-8 col-md-8 col-6">
                    <h3><%=gameData.displayName%></h3>
                    <p class="review-content"><%=gameData.summary%></p>
                    <a class="btn btn-outline-light" href="/reviews/create/<%=gameData.linkName%>">Create a review for <%=gameData.displayName%></a>
                </div>
            </div>
        </div>

        <h2 class="mb-4">Reviews of <%=gameData.displayName%></h2>
        <% if(locals.reviews) {%>
        <% reviews.forEach((review) => {%>
            <div class="content-wrapper wrapper-style mb-4">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-3 col-4">
                        <img class="profile-picture" src="<%=review.author.profileImg%>" alt="profile" />
                    </div>
                    <div class="col-lg-10 col-md-9 col-8">                  
                        <h5>By <a class="user-link" href="/users/<%=review.author.displayName%>"><%=review.author.displayName%></a></h5>
                        <div class="stars">
                            <%for(let i = 0; i < review.ratings.overall; i++){%>
                                <i class="far fa-star star-highlight"></i>
                            <%}%>
                            <%for(let i = 0; i < 5 - review.ratings.overall; i++){%>
                                <i class="far fa-star star-lowlight"></i>
                            <%}%>
                        </div>
                        <p>Published on <%=review.created.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' })%></p>
                    </div>
                </div>
                <hr class="light" />
                <div class="row">
                    <div class="col-12">
                        <h2><%=review.title%></h2>

                        <%if(review.content.length > 300){%>
                            <p class="review-content"><%=review.content.slice(0, 300)%> ...</p>
                            <%}else{%>
                                <p class="review-content"><%=review.content%></p>
                            <%}%>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 d-flex justify-content-end">
                        <a class="btn btn-outline-light" href="/reviews/<%=review._id%>">Read Review</a>
                    </div>
                </div>
            </div>
        <%});%>
        <%} else {%>
            <p>There are no reviews. Why not create one?</p>
        <%}%>
    </div>
</div>

<script type="module" src="/js/scroll_game.js"></script>
<%- include("partials/footer") -%>